[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pre-commit = "*"
pylint = "*"
pdoc3 = "*"

[packages]
python-dotenv = "*"
orator = "*"
psycopg2-binary = "*"
requests = "*"
sendgrid = "*"
chalice = "*"
boto3 = "*"
pdoc3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
